#!/bin/sh
echo "-------------------------"
echo "starting backup"
echo "-------------------------"
echo "sample varialbe {{ name }}" 
cat /etc/os-release
echo "Hello {{ name }}" >> /tmp/my_test
echo "-------------------------"
echo "backup finished"
echo "-------------------------"